/* ----------Index-HTML CSS ---------- */ 
html {
    overflow: hidden;
}
* {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box;
  }
body{ 
    background-image: url('images/background-index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: 50px ;
    margin-right: 50px;  
}
#main-content {
    color: #fdfdfd;
    /* margin-top: 30px; */
    margin-bottom: 50px;
    margin-left: 40px;
    font-size: 50px;
    font-family:'system-ui', 'sans-serif';
}
h1{
    color: #fdfdfd;
    font-size: 50px;
    font-family: 'system-ui', 'sans-serif';
    margin-top: 5%;
    margin-bottom: 40px;
    padding: 30px;
}
h1 span{
    color: #807ae8; 
    font-size: 50px;
    font-family: 'system-ui', 'sans-serif';
    font-style: oblique;
}
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 40px;
}

nav ul li a {
    color: #341169;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #030217;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.logo{
    color: #030217;
    font-size: 35px;
    line-height: 80px;
    margin-left: 20px;
    /* padding: 0 100px; */
    font-weight: bold;
}
#main-content {
    background-color: rgba(255, 255, 255, .3);
    width: 1200px;
    border-radius:100px;
    border-color: #fdfdfd;
    border-style:ridge;
    border-width: thick;
    display: flex;
    justify-content: center;
    padding: 40px;
    
}
#main-text a {
    background:white;
    border-radius: 10px;
    color: #807ae8;
    font-weight: bold;
    font-size: 20px;
    height: 20px;
    text-decoration: none;
    padding: 15px;  
}
#main-text p {
    padding-bottom: 30px;
}
#main-profile-picture {
    height: 300px;
    border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;
}
header, footer {
    position: fixed;
    background: #fdfdfd;
    left: 0;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.8);
    padding: 1px; 
}
  header {
    top: 0;
}
footer {
    bottom: 0;
    text-align: center;
    padding-top: 20px;
}

/* -------------------BIOGRAPHY CSS-------------------- */

.main-bio-content{
    display: flex;
    position: relative;
    color: #fdfdff;
    top:27%;
    line-height: 1.7;
    padding: 60px;
    text-align:justify;
    border-top: thick double #b523b5;;
    border-bottom: thick double #b523b5;
    /* background: linear-gradient(0.25turn,#56267b, #a1a7e6,#c891ce); */
}
#logo-bio {
    width: 400px;
    height: 400px;
    align-self: center;
    padding: 20px;
}

/* -------------------EXPERIENCE CSS-------------------- */

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ; 
    height: 100vh;
}

#card-portfolio {
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    width: 300px;
    height: 350px;
}

#card-portfolio h3, p {
    text-align: center;
    margin-bottom: 10px;
}

.card-img {
    height: 170px;
    margin-bottom: 30px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

#card-portfolio:hover {
    background-color: #807ae8;
    color: white;
    cursor: pointer;
    transform: scale(1.06);
    transition: all 1s ease;
}
.car-1 {
    background-image: url('images/img-portfolio.jpg');
}
.car-2 {
    background-image: url('images/img-portfolio-2.jpg');
}
.car-3 {
    background-image: url('images/img-portfolio-3.png');
}